// Heading

@mixin Heading
{
  display: block;
  font-family: sans-serif;
}

@mixin Heading--lead
{
  @include Heading;

  font-size: 24px;
  line-height: 28px;
}

@mixin Heading--brow
{
  @include Heading;

  font-size: 12px;
  line-height: 24px;
}

// Body

// Link

@mixin Link--cta
{
  border: 1px solid black;
}
