// Sizing
// ---

// Usage: @include query(small) {...}
$breakpoints: (
  xs: 480px, // 480px
  sm: 640px, //	640px
	md: 768px, // 768px
	lg: 992px, //	992px
  xl: 1400px, //1400px
	xxl: 1800px // 1800px
);

$spacing: 30px;
$gutter: $spacing;

$screen-xs: map-get($breakpoints, 'xs') - $gutter / 2 !default;
$screen-sm: map-get($breakpoints, 'sm') - $gutter / 2 !default;
$screen-md: map-get($breakpoints, 'md') - $gutter !default;
$screen-lg: map-get($breakpoints, 'lg') - $gutter !default;
