// Container

@mixin l-container
{
  margin: 0 calc(#{$spacing} / 2);

  @include query (sm)
  {
    max-width: $screen-sm;
    margin: 0 auto;
  }

  @include query (md)
  {
    max-width: $screen-md;
  }

  @include query (lg)
  {
    max-width: $screen-lg;
  }
}

// Section Container

@mixin l-section
{
  margin: $spacing 0;

  
  &:first-child
  {
    margin-top: 0;

    @include query (sm)
    {
      margin-top: $spacing;
    }
  }
}

@mixin l-list
{
  &:not(:last-child)
  {
    margin-bottom: $spacing;
  }
}
