// Media Queries

@mixin query($breakpoint) { 
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@function unit($percent) {
  @return $spacing * ($percent / 100);
}

// Container border

@mixin border-container {
  border: $border-section;
  border-radius: $border-radius;
  background-color: $section-content;
  box-shadow: 0 1px 0 1px darken($pale-blue, 10%);
  overflow: hidden;
}
