// Heading

@mixin Heading
{
  font-family: $font-heading;
  color: $text-primary;
}

@mixin Heading--lead
{
  @include Heading;

  display: inline-block;
  margin-bottom: $spacing / 4;
  font-size: 24px;
  line-height: 24px;
}

@mixin Heading--head
{
  @include Heading;

  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

@mixin Heading--sub
{
  @include Heading;

  font-size: 18px;
  line-height: 18px;
}

@mixin Heading--flag
{
  @include Heading;

  font-size: 12px;
  font-weight: bold;
  color: $text-secondary;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

@mixin Heading--brow
{
  @include Heading;

  margin-bottom: unit(25);
}

// Body

@mixin Text
{
  font-family: $font-body;
  font-size: 14px;
  line-height: 1.33em;
}

@mixin Text--quiet
{
  font-size: 12px;
}

@mixin Text--loud
{
  font-size: 18px;
}

// Link

@mixin Link--underline
{
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus
  {
    text-decoration: none;
  }
}

@mixin Link
{
  @include Link--underline;
  color: $link-site;

  & > *
  {
    color: inherit;
  }
}

@mixin Link--cta
{
  padding: $spacing / 3;
  border: $border-default;
  text-align: center;
}

@mixin Link--nav
{
  @include Heading--sub;
  @include Link;
}
