// Colors
// ---

$gray10: #3a3a39;
$gray20: #3a3a39;
$gray30: #cccac7;
$gray40: #3a3a39;
$gray50: #3a3a39;
$gray60: #3a3a39;
$gray70: #3a3a39;
$gray80: #3a3a39;
$gray90: #191918;

$bright-blue: #0276fd;

$text-primary: $gray70;
$text-secondary: $gray30;

$link-site: $bright-blue;

$border-default: 1px dashed $gray90 !default;
$border-section: $border-default;

// Type
// ---

$font-heading: 'DM Sans', sans-serif;
$font-body: 'Roboto Mono', monospace;

$font-weight-bold: 600;
$font-weight-normal: 400;

// Sizing
// ---

// Usage: @include query(small) {...}
$breakpoints: (
  xs: 480px, // 480px
  sm: 640px, //	640px
	md: 768px, // 768px
	lg: 992px, //	992px
  xl: 1400px, //1400px
	xxl: 1800px // 1800px
);

$spacing: 30px;
$gutter: $spacing / 2;

$screen-xs: map-get($breakpoints, 'xs') - $gutter / 2 !default;
$screen-sm: map-get($breakpoints, 'sm') - $gutter / 2 !default;
$screen-md: map-get($breakpoints, 'md') - $gutter !default;
$screen-lg: map-get($breakpoints, 'lg') - $gutter !default;
