// Colors
// ---

$gray10: #fdfdfd;
$gray20: #f5f5f3;
$gray30: #cccac7;
$gray40: #aaa9a6;
$gray50: #727270;
$gray60: #4b4b4a;
$gray70: #525250;
$gray80: #2b2b29;
$gray90: #191918;

$pale-blue: #f1f4f7;
$bright-blue: #0276fd;
$pale-yellow: #fff4e1;

$text-primary: $gray70;
$text-secondary: $gray40;

$section-heading: linear-gradient($gray10 50%, $pale-blue);
$section-content: $gray10;
$link-site: $bright-blue;

$color-bg: $pale-yellow;

// General
// ---

$border-radius: 2.5px;
$border-default: 1px dashed $gray40 !default;
$border-section: $border-default;
$box-shadow-hard: 2px 2px 0 0 $gray70;

// Type
// ---

$font-heading: 'DM Sans', sans-serif;
$font-body: 'Roboto Mono', monospace;

$font-weight-bold: 600;
$font-weight-normal: 400;

// Sizing
// ---

// Usage: @include query(small) {...}
$breakpoints: (
  xs: 480px, // 480px
  sm: 640px, //	640px
	md: 768px, // 768px
	lg: 992px, //	992px
  xl: 1400px, //1400px
	xxl: 1800px // 1800px
);

$spacing: 32px;
$gutter: calc(#{$spacing} / 2);
$spacing-text: 8px;

$screen-xs: calc(map-get($breakpoints, 'xs') - $gutter / 2) !default;
$screen-sm: calc(map-get($breakpoints, 'sm') - $gutter / 2) !default;
$screen-md: calc(map-get($breakpoints, 'md') - $gutter) !default;
$screen-lg: calc(map-get($breakpoints, 'lg') - $gutter) !default;

// ANIMATION

$dur: 250ms !default;
$ease: cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$anim-default: all $dur $ease;
